<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a href="#" class="navbar-brand">Recipe Book</a>
  <div class="collapse navbar-collapse" id="navbarText">

  <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="onSelect('recipe')" data-bs-theme="dark">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('shopping-list')"data-bs-theme="dark">Shoping List</a>
      </li>
  </ul>
      <div  class="dropdown" appDropDown>
        <button class="btn btn-secondary dropdown-toggle btn-dark show"
                type="button"
                id="navbarDropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          Manage
        </button>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Save Data</a></li>
          <li><a class="dropdown-item" href="#">Fetch data</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>


  </div>

</nav>
<hr>
